.main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  &__title {
    font-size: 38px;
    margin-top: 5px;
  }
  &__photo {
    width: 300px;
    object-fit: cover;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
    img {
      width: 30vw;
      border-radius: 30px;
      align-self: center;
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__text {
      border-top: 3px solid #212121;
      margin-top: 30px;
      position: relative;
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    svg {
      width: 45px;
      margin-right: 3px;
    }
  }
}

@media (max-width: 1024px) {
  .main {
    &__title {
      font-size: 30px;
    }
    &__descr {
      &__text {
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .main {
    &__wrapper {
      grid-template-columns: 1fr;
      img {
        width: 50vw;
      }
    }
    &__photo {
      grid-row: 1 / 2;
    }
    &__descr {
      grid-row: 2 / 3;
      &__text {
        margin-top: 5px;
        h2 {
          margin-top: 5px;
          font-size: 20px;
        }
      }
    }
    &__title {
      font-size: 25px;
    }
  }
}