nav {
  width: 250px;
  height: 100%;
  background-color: #967660;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.5s;
  span {
    display: none;
    position: fixed;
    left: 10px;
    top: 30px;
    cursor: pointer;
    font-size: 30px;
  }
  a {
    position: fixed;
    margin-top: 30px;
    &:nth-of-type(2) {
      margin-top: 60px;
    }
    &:nth-of-type(3) {
      margin-top: 90px;
    }
    text-decoration: none;
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s;
    &:hover {
      transform: scale(0.98);
    }
  }
}
main {
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 5px;
}

@media(max-width: 1400px) {
  nav {
    width: 250px;
    padding: 20px 8px;
  }
}
@media(max-width: 1355px) {
  nav {
    width: 50px;
    a {
      display: none;
    }
    span {
      display: block;
    }
  }
  .nav-is-active {
    z-index: 2;
    width: 250px;
    padding-left: 30px;
    a {
      display: block;
    }
    span {
      left: 205px;
    }
  }
}

@media (max-width: 650px) {
  nav {
    width: 40px;
    span {
      font-size: 25px;
      left: 8px;
      top: 20px;
    }
  }
  main {
    padding-left: 10px;
  }
}